<%- include("partials/header") -%>
<h1> Home </h1>

<h2 class = "dw">
    This is a place to write, read and connect.
</h2>
<h3 class="new">
    <%= homeStart%><br>
    <br>
    Let's Make it happen.
</h3>
<hr class="style13">
<% posts.forEach(function (post){ %>

    <h1>
        <%= post.title%>
    </h1>
    <p>
        <%= post.content.substr(0,100) + "..." %>
        <a href="/posts/<%= post.title%>"> Read More </a>
    </p>
<% }); %>
<form action="/compose" method="get">
    <button type="submit" class="btn btn-primary" value="addpost">Add Post</button>
</form>
<%- include("partials/footer") -%>